@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.App{
    max-width: 860px;
    padding: 5% 120px;
    margin: 40px auto;
    min-height: 100%;
    background: url(../imgcartas/Night\ Sky\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    font-family: Montserrat;
    color: #fff;
    font-size: 30px;
}
    button{
        background: #000;
        padding: 6px 12px;
        border-radius: 4px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        font-size: 25px;
        border: none;
        font-family: Montserrat;
        padding: 10px 20px;
    }
    button:hover{
        background: rgb(93, 68, 130);
        color: #fff;
    }

.grilla-cartas{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 20px;
}