.body{
    font-size: 25px;
    background: #fff;
    margin: 80px 80px;
    text-align: center;
    padding: 60px 0px;
}
.evilapartado{
    font-family: Roboto-Thin;
    margin: -20px 0px 60px;
}

.empresa{
    font-family: LEMON MILK-Medium;
}

.textoinicio{
    font-family: LEMON MILK-Light;
}

@font-face{
    font-family: LEMON MILK-Light;
    src: url('../fuentes/LEMONMILK-Light.ttf');
}

@font-face{
    font-family: LEMON MILK-Medium;
    src: url('../fuentes/LEMONMILK-Medium.ttf');
}

@font-face{
    font-family: Roboto-Thin;
    src: url('../fuentes/Roboto-Thin.ttf');
}